.pulish_models {
  background-color: #3f51b5;
  padding: 20px;
  text-align: center;
}
.wapper_flex {
  display: flex;
}
.wapper_flex > div {
  color: #fff;
  padding: 16px;
}

.wapper_flex > div {
  align-items: stretch;
}
.cpm_btn {
  border-radius: 0px;
  font-size: 15px;
}
/**===Menu====*/
.list_menu {
  padding: 12px;
}
.list_menu > h5 {
  color: #3f51b5;
}
