
<div class="pulish_models">
    <div class="wapper_flex">
        <div><h6>Reday to Deploy ?</h6></div>
        <div><h6><i class="fas fa-rocket"></i></h6></div>
    </div>
    <button [routerLink]= "['/PublishModel']" class="btn btn-primary cpm_btn">Publish Models &nbsp;<i class="fas fa-upload"></i></button>
</div>
<div class="list_menu">
    <h5>Most Used</h5>
    <ul class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw">Froud Detection</div>
          </div>
          <span class="badge bg-primary rounded-pill">30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw">Customer Segmention</div>
           
          </div>
          <span class="badge bg-primary rounded-pill">30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw">Next Best Action</div>
          </div>
          <span class="badge bg-primary rounded-pill">30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            </div>
            <span class="badge bg-primary" >View More..</span>
        </li>
    </ul>
</div>

<div class="list_menu">
    <h5>Top Rated</h5>
    <ul class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw">SKU expection</div>
          </div>
          <span class="badge bg-primary rounded-pill">30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw">Ecommerce Daily Sales</div>
           
          </div>
          <span class="badge bg-primary rounded-pill">30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw">Product Performance</div>
          </div>
          <span class="badge bg-primary rounded-pill">30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            </div>
            <span class="badge bg-primary" >View More..</span>
        </li>
    </ul>
</div>
