<app-main>
  <ul class="nav bg-ddd mt-2">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['ReactiveForm']" [routerLinkActive]="'is-active'">Reactive Forms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['TemplateDrivenForms']" [routerLinkActive]="'is-active'">Template Driven Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
    <router-outlet></router-outlet>
</app-main>

