<!-- <form class="form" [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field class="form__input">
    <input matInput placeholder="Email Address" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>

  <div class="form-actions">
    <button class="form-actions__login" mat-raised-button color="primary" type="submit">Login</button>
    <button class="form-actions__forget" mat-button>Forget password</button>
  </div>
</form> -->


<div class="login-form">
  <h6>Don't have an account? <a href="#"> Sign up</a></h6>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="username_box mt-4">
      <label>User Name</label>
     <div class="input-group">
        <input type="email" class="form-control" placeholder="User Name" formControlName="email">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
        </div>
     </div>
    </div>
     <div class="pass_box mt-3">
      <label>Password</label>
      <div class="input-group">
         <input type="password" class="form-control" placeholder="password" formControlName="password" name="email">
         <div class="input-group-append">
           <span class="input-group-text"><i class="fa fa-cog" aria-hidden="true"></i></span>
         </div>
      </div>
     </div>
     <button type="submit" class="btn btn-primary btn-custom">SIGN IN</button>
  </form>
</div>