.card_box {
  margin-top: 20px;
  padding: 16px;
  box-shadow: 1px 1px 4px 2px #b5b2b2;
}
.icons_wrapper {
  display: flex;
}
.Stock_trade h1 {
  background: #ddd;
  width: 100px;
  height: 100px;
  border-radius: 59px;
  padding: 30px;
}
.Stock_trade {
  width: 272px;
}
