<mat-stepper>
    <mat-step label="Design">
      <p>Put down your Design screen.</p>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Proprocessing" state="chat">
      <p>Socialize with each other.</p>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>&nbsp;
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Inference" state="chat">
        <p>Socialize with each other.</p>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>&nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Monitoring" state="chat">
        <p>Socialize with each other.</p>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>&nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Schedule" state="chat">
        <p>Socialize with each other.</p>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>&nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Review">
      <p>You're welcome.</p>
    </mat-step>
      
    <!-- Icon overrides. -->
    <!-- <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template> -->
  </mat-stepper>

 